@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
}
.container{
    height:500px;
}
.home{
    display:flex;
    margin-top: 70px;
}
.devpic{
    margin-top: 70px;
    margin-left: 250px;
}
.devinfo{
    margin-left: 130px;
    margin-top: 169px;
    font-family: "Sedan SC", serif;
}
/*meanu bar*/
h1.Hello {
    font-size: 45px;
}

h3.branch {
    font-size: 32px;
}

h4.about {
    font-size: 21px;
}

.sidebar{
    height: 30px;
}
nav {
    text-align: right;
    margin-bottom: 19px;
    height: 50px;
    padding-top: 23px;
    background-color: rgb(74, 130, 181);
}
.logo{
    margin-right: 555px;
    font-family: "Sedan SC", serif;
    font-size: 22px;
    text-decoration: none;
    font-style:italic;
   
}
.kp1{
    margin-right:25px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}

.kp2{
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}

.kp3{
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}
.kp4{
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}
.kp5{
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}
.button button{

    background-color: rgb(74, 130, 181);
    color: white;
    font-size: 17px;
    margin-top: 5%;
    padding: 10px;
    border-radius: 31px;
    cursor: pointer;
    border-color: rgb(74, 130, 181) ;
}
.button button:hover{
    color: rgb(74, 130, 181);
    background-color: white;
 }