
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');
*{
    margin: 0;
    padding: 0;
}
/*meanu bar*/
h1.Hello {
    font-size: 45px;
}

h3.branch {
    font-size: 32px;
}

h4.about {
    font-size: 21px;
}

.sidebar{
    height: 30px;
}
nav {
    margin-bottom: 19px;
    height: 50px;
    padding-top: 23px;
    background-color: rgb(74, 130, 181);
}
.logo{
    margin-right: 515px;
    font-family: "Sedan SC", serif;
    font-size: 22px;
    text-decoration: none;
    font-style:italic;
    margin-left: 40px;
   
}
.kp1{
    margin-right:25px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}

.kp2{
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}

.kp3{
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}
.kp4{
    margin-right: 25px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}
.kp5{
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-family: "Roboto Slab", serif;
}

.column {
    float: left;
    width: 25%;
    padding-right: 80px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row {
    margin-top: 55px;
    margin-left: 147px;
}
h1.uop {
    margin-top: 73px;
    margin-left: 148px;
    font-family: "Roboto Slab", serif;
}
.container {
    background-color: lavender;
}